:root {
	/* ------- colors ------- */
	--primary-color: #ffffff;
	--secondary-color: #a5a5a5;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #ff0000;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}